.destBtn1, .destBtn2 {
  border: 2px solid transparent;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 15px;
  text-align: center;
  border-radius: 999px;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}
.destBtn1.active, .destBtn2.active {
  border-color: #006ce4;
  background-color: #006ce40f;
  color: #006ce4;
}
.destBtn1:hover, .destBtn2:hover {
  background-color: #1a1a1a0f;
}
.content {
  display: none;
  padding-top: 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
.content.active {
  display: block;
}
.grid-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
}
.grid-item {
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.ia_link {
  display: block;
  margin-bottom: 5px;
}
.pList2 {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 10px;  
}
.pListCard2 {
  border: 1px solid #e0e0e0;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  min-width: 235px; 
  max-width: 100px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 320px; 
  position: relative;
}
.pListItem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}
.pListImg2 {
  width: 100%;
  height: 180px; 
  object-fit: cover; 
  border-radius: 8px;
}
.pListTitles2{
  flex-grow: 1; 
  height: 30px;
}
.pListTitles2 > h1 {
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  height: 70px;
  text-align: left;
}
.pListTitles2 >h1 > span {
  font-size: 15px;
  font-weight: 700;
  color: #18A0FB;
}
.pListTitles2 >p {
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;  
  color: gray;
  text-decoration: line-through;
}
.cardBtn2 {
  background-color: #FFF;
  border: 1px solid #FFCC00;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;  
  border-radius: 5px;
}
.cardBtn2:hover {
  background-color: #FEBE10;
  transition: ease-in-out 0.4s;
}
.favorite2 {
    position: absolute; 
    cursor: pointer;
    padding: 1px;
    padding-top: 2px;
    margin-left: 200px;
    margin-top: 4px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
}
.favorite2:hover {
  transform: scale(1.1);
}
.tietkiem2{
  position: absolute;
  background-color: #FFDC00;
  border-radius: 5px;
  padding: 5px;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  margin: 5px 145px 0px 5px;
}
.pListTitle3{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.grIconDanhGia{
  display: flex;
  gap: 4px;
}
.iconDanhGia{
  margin-top: 6px;
  position: flex;
  justify-content: space-between;
  width: 17px;
  height: 17px;
}
.diemDanhGia{
  color: #FFDC00;
  font-size: 14px;
  font-weight: 700;
  margin-top: 7px
}
.textDanhGia{
  margin-top: 9px;
  color: #687176;
  font-weight: 500;
  font-size: 11px;
  text-align: left;
  cursor: pointer;
}
.textDanhGia:hover{
  transition: 0.2s linear;
  color: #333;
}
.xemtatca{
  color: #18A0FB;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  margin-top: 15px;
  padding-right: 10px;
}
.xemtatca:hover{
  color: #FEBE10;
  transition: ease-in-out 0.3s;
}
/* --------------responsive-------------- */
@media (max-width: 768px) {
  .pListCard2 {
    height: auto; 
  }
  .pListImg2 {
    /* height: 160px;  */
  }
}
/* Responsive adjustments for mobile screens */
@media (max-width: 480px) {
  .destWeLove {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .grDestBtn {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-left: 5%;
  }
  .grDestBtn::-webkit-scrollbar {
    display: none;
  }
  .grDestBtn2 {
    gap: 5px;
    display: inline-flex;
    scroll-snap-align: start;
    margin: auto;
  }
  .destBtn1, .destBtn2 {
    font-size: 12px;
    font-weight: 500;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  .grContent {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
  }
  .grContent::-webkit-scrollbar {
    display: none;
  }
  .content {
    flex-shrink: 0;
    width: 100vw; 
    max-width: 100vw;
    display: none;
    scroll-snap-align: start;
  }
  .content.active {
    display: block;
  }
  .grid-container {
    display: flex;
  }
  .pListImg2 {
    height: 150px;
    width: 235px;
  }
  .pList2 {
    display: flex;
  }
  .pListCard2 {
    width: 100%;
    margin: auto;
    height: 280px;
    box-shadow: none;
    border: none;
    scroll-snap-align: start;
    padding-left: 20px;
  }
  .cardBtn2, .pListTitle3 {
    display: none;
  }
  .tietkiem2{
    margin: 5px 105px 0px 5px;
  }
  /* .favorite2{
    margin-left: 170px;
  } */
}






