.reviewPopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
.reviewPopup {
  background: #fff;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.8);
  animation: popupFadeIn 0.3s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes popupFadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.reviewPopup > h2 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.closePopupButton {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
  color: #687176;
}
.scrollInside {
  overflow-y: auto;
  max-height: 90vh;
  height: 250px;
  border-radius: 8px;
}
.scrollInside::-webkit-scrollbar {
  display: none;
}
.reviewItem {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.reviewHeader {
  display: flex;
  align-items: center;
}
.avatarImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.rvf {
  display: flex;
  gap: 10px;
}
.rvh {
  display: flex;
  margin-right: 20px;
}
.reviewInfo {
}
.reviewerName {
  font-weight: bold;
  font-size: 15px;
}
.reviewRating {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
  color: #ffcc00;
  background-color: #ecf8ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  padding: 7px;
}
.iconReview {
  width: 18px;
  hegiht: 18px;
}
.reviewDate {
  font-size: 12px;
  color: #888;
  padding-top: 14px;
}
.reviewText {
  margin: 10px 0;
  text-align: justify;
  font-size: 15px;
  width: 550px;
}
.likeButton {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}
.iconThumsUp {
  padding-right: 5px;
}
.tableContainMobile {
  display: none;
}